.home-container {
    background: #04062c;
    height: 100vh;
}
.eventimgContainer {
    width: 50%;
}

.home-text {
    width: 50%;
}
.home-text p {
    line-height: 5rem;
}
.register {
    border-radius: 5px;
    background: #3d41ee;
}
@media only screen and (max-width: 640px) {

 .eventimgContainer{
    width: 100%;

 }
 .home-text{
    width: 100%;
 }
 .home-text p{
     line-height: 3rem;
     font-size: 40px;
 }

}